In [4]:
import pandas as pd

In [5]:
old_target = pd.read_csv('FEEDVISOR_pre_daily_collection_snapshot_cleaned_pai_snapshot_c1_d2019-01-01_target.csv')

In [6]:
new_target = pd.read_csv('FEEDVISOR_pre_daily_collection_snapshot_pre_stitch_cleaned_target_NEW2019-01-09.csv')

/Users/joshfriedlander/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,5,6,7,8,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
old_account = pd.read_csv('FEEDVISOR_pre_daily_collection_snapshot_cleaned_pai_snapshot_c1_d2019-01-01_account.csv')

In [8]:
new_account = pd.read_csv('FEEDVISOR_pre_daily_collection_snapshot_pre_stitch_cleaned_account_NEW2019-01-09.csv')

/Users/joshfriedlander/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,3,4,5,9,10,11,12,13,14,15,16,19,20,21,22,23,24,25,28,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
old_account[(old_account.pai_account_id == '001b0000003T3TA') & (old_account.date == '2017-4-16')]

,client_id,recipe_execution_date,pai_account_id,account_name,date,country,of_repricing_online_stores,account_currency_code,base_mrr,email,...,current_csm,last_bill_total_fee,last_bill_variable_fee,next_calculated_exit_point,package,price_trend,profit_trend,time_zone,totango_account_health,upsell_opportunity_package
8612,1,2018-03-17,001b0000003T3TA,wirelessnow,2017-4-16,US,0,1,3500.0,d@dimex.net,...,NaN,NaN,NaN,2018-03-01,Enterprise,NaN,NaN,EST,NaN,NaN

In [10]:
new_account[(new_account.pai_account_id == '001b0000003T3TA') & (new_account.date == '2017-04-16')]

,client_id,recipe_execution_date,pai_account_id,account_name,date,country,of_repricing_online_stores,account_currency_code,base_mrr,email,...,profit_trend,time_zone,totango_account_health,upsell_opportunity_package,pai_is_deleted,x2nd_repricer_of_products_repriced,fba_sales_last_30_days,monthly_variable_cap,needed_touchpoints,subscription_suspended
1288330,1,2019-01-09,001b0000003T3TA,wirelessnow,2017-04-16,NaN,0.0,1.0,3500.0,d@dimex.net,...,NaN,EST,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [17]:
df = old_target[old_target.pai_account_id.isin(pids)][['pai_account_id', 'churn_in_stage', 'churn_in_stage_paying', 'churn_in_stage_poc', 'stage', 'date']]

In [18]:
df[df.date == '2017-10-8']

,pai_account_id,churn_in_stage,churn_in_stage_paying,churn_in_stage_poc,stage,date
33425,001b000000FnoxB,0.0,0,0.0,poc,2017-10-8
33507,001b000000HD2rh,1.0,1,NaN,paying,2017-10-8
33636,001b0000019wSsQ,1.0,1,NaN,paying,2017-10-8

In [19]:
df2 = new_target[new_target.pai_account_id.isin(pids)][['pai_account_id', 'churn_in_stage', 'churn_in_stage_paying', 'churn_in_stage_poc', 'stage', 'date']]

In [21]:
df2[df2.date == '2017-10-08']

,pai_account_id,churn_in_stage,churn_in_stage_paying,churn_in_stage_poc,stage,date
911092,001b000000FnoxB,1.0,0,1.0,poc,2017-10-08
913857,001b000000HD2rh,1.0,1,NaN,paying,2017-10-08
914839,001b0000019wSsQ,1.0,1,NaN,paying,2017-10-08

In [ ]:
pai_account_id	date	stage_old	stage_new
001b000000HD2rh	2017-11-07	poc	paying
001b000000HD2rh	2017-11-13	poc	paying
001b0000019wSsQ	2017-12-09	poc	paying
001b0000019wf5M	2017-12-09	poc	paying
001b0000019wfNp	2017-12-09	poc	paying
001b000001Eh9R9	2017-12-09	poc	paying
001b000001Eh9qL	2017-12-09	poc	paying

In [27]:
old_target[(old_target.pai_account_id == '001b000000HD2rh') & (old_target.date == '2017-11-7')]

,client_id,pai_account_id,recipe_execution_date,last_activity,date,churn_month,repricing_activated,profile,poc_end_date,churn_in_stage_poc,reached_poc_stage,stage,churn_in_stage_paying,churn_in_stage,account_birth_date,is_deleted,pai_is_deleted
18021,1,001b000000HD2rh,2018-03-18,2017-7-19,2017-11-7,2016-1-1,0,smb,2015-09-04,0.0,1,poc,0,0.0,2015-6-4,False,0

In [29]:
new_target[(new_target.pai_account_id == '001b000000HD2rh') & (new_target.date == '2017-11-07')]

,repricing_activated,client_id,pai_account_id,recipe_execution_date,pai_is_deleted,last_activity,poc_end_date,churn_month,profile,churn_in_stage_paying,account_birth_date,date,churn_in_stage_poc,reached_poc_stage,stage,churn_in_stage
998145,0,1,001b000000HD2rh,2019-01-09,0,2017-7-19,2015-09-04,2016-01-01,smb,1,2015-06-04,2017-11-07,NaN,1,paying,1.0