In [1]:
import pandas as pd
import numpy as np

import re
import filecmp
from pandas.testing import assert_series_equal

Old file pre-gluing

In [2]:
old_acct_pre = pd.read_csv('old_testing_preglue_account_0.csv', index_col=0, dtype=object) 
old_trgt_pre = pd.read_csv('old_testing_preglue_target_0.csv', index_col=0, dtype=object)

New file pre_gluing

In [3]:
new_acct_pre = pd.read_csv('new_testing_preglue_account_0.csv', index_col=0, dtype=object) 
new_trgt_pre = pd.read_csv('new_testing_preglue_target_0.csv', index_col=0, dtype=object)

Old files post-gluing

In [4]:
acc_df = pd.read_csv('old_testing_glued_account.csv', index_col=0, dtype=object) 
trg_df = pd.read_csv('old_testing_glued_target.csv', index_col=0, dtype=object)

New files post-gluing

In [5]:
acc_df_new = pd.read_csv('new_testing_glued_account.csv', index_col=0, dtype=object) 
trg_df_new = pd.read_csv('new_testing_glued_target.csv', index_col=0, dtype=object)

_____________________

In [6]:
for pair in [(old_acct_pre, new_acct_pre), (old_trgt_pre, new_trgt_pre), (acc_df, acc_df_new), (trg_df, trg_df_new)]:
    print(pair[0].shape, pair[1].shape)

((51977, 32), (51977, 32))
((51977, 16), (51977, 16))
((468334, 32), (468334, 32))
((468334, 17), (468334, 17))

In [7]:
set(new_acct_pre.pai_account_id.unique()) - set(old_acct_pre.pai_account_id.unique())

set()

In [8]:
set(new_acct_pre.date.unique()) - set(old_acct_pre.date.unique())

set()

In [9]:
set(old_acct_pre.date.unique()) - set(new_acct_pre.date.unique())

set()

In [10]:
set(old_acct_pre.pai_account_id.unique()) - set(new_acct_pre.pai_account_id.unique())

set()

In [11]:
set(old_trgt_pre.pai_account_id.unique()) - set(new_trgt_pre.pai_account_id.unique())

set()

In [12]:
set(new_trgt_pre.pai_account_id.unique()) - set(old_trgt_pre.pai_account_id.unique())

set()

In [13]:
def normalizer(df):
    cols = list(df)
#     if 'is_deleted' in cols:
#         df.is_deleted = df.is_deleted.str.capitalize() 
    # ints that are strings to floats that are strings
#     issues = ['repricing_activated', 'client_id', 'pai_is_deleted', 'churn_in_stage_paying', \
#               'reached_poc_stage', 'account_currency_code', 'of_repricing_online_stores']
#     for issue in issues:
#         if issue in cols:
#             df[issue] = df[issue].apply(lambda x: str(float(x)))
    # ints to floats
    for col in cols:
        if df[col].dtype == 'int64':
            df[col] = df[col].astype(float)
    return df.astype(str)

Add ID col, set_index

In [14]:
for col in list(acc_df):
    if acc_df[col].str.contains('00:00:').any():
        print(col)

In [15]:
acc_df.date.str.contains('00:00').any()

False

In [15]:
acc_df.recipe_execution_date = acc_df.recipe_execution_date.apply(lambda x:x[:10])
trg_df.recipe_execution_date = trg_df.recipe_execution_date.apply(lambda x:x[:10])
trg_df_new.poc_end_date = trg_df_new.poc_end_date.apply(lambda x:x[:10] if not pd.isnull(x) else x)

In [18]:
for df in [old_acct_pre, new_acct_pre, old_trgt_pre, new_trgt_pre, acc_df, acc_df_new, trg_df, trg_df_new]:
    df.set_index(['pai_account_id', 'date'], inplace=True)
    df['id'] = df.index.get_level_values('pai_account_id') + df.index.get_level_values('date').astype(str)

Check all are identical on shape/index level:

In [19]:
def check_shape(df1, df2):
    print(df1.shape, df2.shape)

    a = set(list(df1)) - set(list(df2))
    b = set(list(df2)) - set(list(df1))
    c = set(df1.index.get_level_values('date')) - set(df2.index.get_level_values('date'))
    d = set(df2.index.get_level_values('date')) - set(df1.index.get_level_values('date'))
    e = set(df1.index.get_level_values('pai_account_id')) - set(df2.index.get_level_values('pai_account_id'))
    f = set(df1.index.get_level_values('pai_account_id')) - set(df2.index.get_level_values('pai_account_id'))
    g = set(df1.index) - set(df2.index)
    h = set(df2.index) - set(df1.index)
    for s in zip([a, b, c, d, e, f, g, h], ['Cols in df1 but not df2', 
                                           'Cols in df2 but not df1',
                                           'Dates in df1 but not df2',
                                           'Dates in df2 but not df1',
                                           'PIDs in df1 but not df2',
                                           'PIDs in df2 but not df1',
                                           'Indices in df1 but not df2',
                                           'Indices in df2 but not df1',]):
        if len(s[0]) != 0:
            print(s[1], s[0])
    return

In [20]:
check_shape(old_acct_pre, new_acct_pre)

((51977, 31), (51977, 31))

In [21]:
check_shape(old_trgt_pre, new_trgt_pre)

((51977, 15), (51977, 15))

In [22]:
check_shape(acc_df, acc_df_new)

((468334, 31), (468334, 31))

In [23]:
check_shape(trg_df, trg_df_new)

((468334, 16), (468334, 16))

## Comparison

In [24]:
def my_checker(t1, t2):
    t1 = normalizer(t1)
    t2 = t2 = normalizer(t2)
    t1 = t1[sorted(list(t1))]
    t2 = t2[sorted(list(set(list(t2)) & set(list(t1))))]
    joint = t1.join(t2, how='inner', lsuffix='_old', rsuffix='_new')
    assert joint.shape[0] == t1.shape[0] == t2.shape[0]
    n = int(joint.shape[1] / 2)
    col_names = list(joint)
    for (i,j) in (zip(range(n), range(n, 2 * n))):
        try:
            assert_series_equal(joint.iloc[:,i], joint.iloc[:,j], check_names=False, check_less_precise=True)
        except AssertionError as e:
            print('Prob in col {}, {}!'.format(col_names[i], col_names[j]), str(e)[:62])
    return joint

In [25]:
joint = my_checker(old_trgt_pre, new_trgt_pre)

In [29]:
joint = my_checker(old_acct_pre, new_acct_pre)

('Prob in col account_currency_code_old, account_currency_code_new!', 'Series are different\n\nSeries values are different (100.0 %)\n[l')
('Prob in col of_repricing_online_stores_old, of_repricing_online_stores_new!', 'Series are different\n\nSeries values are different (100.0 %)\n[l')

In [27]:
joint = my_checker(acc_df, acc_df_new)

('Prob in col account_currency_code_old, account_currency_code_new!', 'Series are different\n\nSeries values are different (100.0 %)\n[l')
('Prob in col of_repricing_online_stores_old, of_repricing_online_stores_new!', 'Series are different\n\nSeries values are different (100.0 %)\n[l')

In [28]:
joint = my_checker(trg_df, trg_df_new)

In [37]:
col_list = ['of_repricing_online_stores']
col_old = [x + '_old' for x in col_list]
col_new = [x + '_new' for x in col_list]
col_list_big = col_old + col_new
issues = np.logical_or.reduce([joint[col_old[idx]] != joint[col_new[idx]] for idx, col in enumerate(col_list)])

In [39]:
assert_series_equal(temp.of_repricing_online_stores_old.apply(lambda x: str(float(int(x)))), temp.of_repricing_online_stores_new, check_names=False)
assert_series_equal(temp.account_currency_code_old.apply(lambda x: str(float(int(x)))), temp.account_currency_code_new, check_names=False)

In [38]:
temp = joint[issues][col_list_big] \
                .dropna(subset=col_list_big) \
#                 .to_clipboard()     # comment if needed
temp
# temp.to_csv('/Users/joshfriedlander/Downloads/country.csv')

,,of_repricing_online_stores_old,of_repricing_online_stores_new
pai_account_id,date,,
001b000000m6pX3,2017-11-27,0,0.0
001b000003UyZoi,2018-01-05,1,1.0
001b000001UmmSM,2017-12-04,1,1.0
001b000001Eii7M,2017-12-11,1,1.0
001b000001HhF2f,2017-12-02,0,0.0
001b000000FnoxB,2017-10-05,0,0.0
001b000003TOwxH,2017-10-18,1,1.0
001b0000026fggl,2018-01-17,0,0.0
001b000003KsWJz,2018-01-29,0,0.0
001b000003TMYGH,2017-12-06,1,1.0
001b000000yg7kk,2017-04-25,0,0.0
001b000001UmhjW,2017-11-20,1,1.0
001b000003j7RxW,2018-01-31,1,1.0
001b000003lJiTx,2018-02-09,0,0.0
001b000001SFnGP,2017-10-24,0,0.0
001b000003oww3U,2017-12-06,0,0.0
001b000003nCs6A,2017-10-05,0,0.0
001b000000qJ2cX,2018-02-03,0,0.0
001b000003YNCtz,2018-02-07,2,2.0
001b000003UxTUu,2018-01-24,0,0.0
001b000000XoteL,2017-10-15,1,1.0
001b000003ODiXU,2017-12-07,1,1.0
001b000003keYTa,2017-12-25,1,1.0
001b000003WXR0S,2018-01-16,1,1.0
001b000003oIreG,2017-12-16,2,2.0
001b000002LQCqZ,2018-02-04,1,1.0
001b000000m6P6M,2018-02-07,0,0.0
001b000003Kt2i7,2017-11-30,0,0.0
001b000003JoyYZ,2017-11-20,0,0.0
001b000003Kt1Pz,2017-10-12,0,0.0
...,...,...,...
001b000003Jp1O5,2018-01-24,0,0.0
001b000003NHfox,2017-12-15,0,0.0
001b000000qGqfy,2018-01-24,0,0.0
001b000003NHAY5,2017-12-07,4,4.0
001b000003NHHt4,2018-01-20,0,0.0
001b000000GfnC7,2017-10-11,0,0.0
001b000003KpwJa,2017-11-05,1,1.0
001b000002LQdJA,2018-01-10,0,0.0
001b000003fIq9z,2018-01-16,1,1.0
001b000000qJ60G,2017-11-10,0,0.0
001b000002LPHAP,2017-12-04,0,0.0
001b000003mXnjl,2017-11-29,0,0.0
001b000001HjJH0,2018-01-17,0,0.0
001b000003ePQZU,2018-02-05,0,0.0
001b000003g8u3B,2017-10-12,5,5.0
001b000003LhJyL,2018-01-06,1,1.0
001b000003HIsog,2018-01-31,1,1.0
001b000003KPWOP,2017-11-19,0,0.0
001b000003MdS6L,2018-02-03,1,1.0
001b000001HhXgz,2018-01-10,0,0.0
001b000000nz6cP,2017-11-25,0,0.0
001b000002LPg4r,2017-12-09,0,0.0
001b000001pneto,2017-10-05,0,0.0
001b000003Md4CQ,2018-01-29,0,0.0
001b000003anRWl,2018-01-10,0,0.0
001b000003WZPWk,2017-10-17,0,0.0
001b0000026egEX,2018-01-27,0,0.0
001b000001EjFJ3,2017-12-22,0,0.0
001b000003hW9ZA,2017-10-04,1,1.0
001b000003iTR91,2017-10-18,0,0.0

In [41]:
col = 'poc_end_date'
col_old, col_new = col + '_old', col + '_new'
temp[temp[col_old] != temp[col_new]][[col_old, col_new]]

                           poc_end_date_old     poc_end_date_new
pai_account_id  date
0010J00001oc4O9 2018-02-10       2018-04-26  2018-04-26 00:00:00
                2018-02-11       2018-04-26  2018-04-26 00:00:00
                2018-02-12       2018-04-26  2018-04-26 00:00:00
                2018-02-13       2018-04-26  2018-04-26 00:00:00
                2018-02-14       2018-04-26  2018-04-26 00:00:00
                2018-02-15       2018-04-26  2018-04-26 00:00:00
                2018-02-16       2018-04-26  2018-04-26 00:00:00
                2018-02-17       2018-04-26  2018-04-26 00:00:00
                2018-02-18       2018-04-26  2018-04-26 00:00:00
                2018-02-19       2018-04-26  2018-04-26 00:00:00
                2018-02-20       2018-04-26  2018-04-26 00:00:00
                2018-02-21       2018-04-26  2018-04-26 00:00:00
                2018-02-22       2018-04-26  2018-04-26 00:00:00
                2018-02-23       2018-04-26  2018-04-26 00:00:00
                2018-02-24       2018-04-26  2018-04-26 00:00:00
                2018-02-26       2018-04-26  2018-04-26 00:00:00
                2018-02-27       2018-04-26  2018-04-26 00:00:00
                2018-02-28       2018-04-26  2018-04-26 00:00:00
                2018-03-01       2018-04-26  2018-04-26 00:00:00
                2018-03-02       2018-04-26  2018-04-26 00:00:00
                2018-03-03       2018-04-26  2018-04-26 00:00:00
                2018-03-04       2018-04-26  2018-04-26 00:00:00
                2018-03-05       2018-04-26  2018-04-26 00:00:00
                2018-03-06       2018-04-26  2018-04-26 00:00:00
                2018-03-07       2018-04-26  2018-04-26 00:00:00
                2018-03-08       2018-04-26  2018-04-26 00:00:00
                2018-03-09       2018-04-26  2018-04-26 00:00:00
                2018-03-10       2018-04-26  2018-04-26 00:00:00
                2018-03-11       2018-04-26  2018-04-26 00:00:00
                2018-03-12       2018-04-26  2018-04-26 00:00:00
...                                     ...                  ...
001b000003ydcqU 2018-12-18       2018-08-31  2018-08-31 00:00:00
                2018-12-19       2018-08-31  2018-08-31 00:00:00
                2018-12-20       2018-08-31  2018-08-31 00:00:00
                2018-12-21       2018-08-31  2018-08-31 00:00:00
                2018-12-22       2018-08-31  2018-08-31 00:00:00
                2018-12-23       2018-08-31  2018-08-31 00:00:00
                2018-12-24       2018-08-31  2018-08-31 00:00:00
                2018-12-25       2018-08-31  2018-08-31 00:00:00
                2018-12-26       2018-08-31  2018-08-31 00:00:00
                2018-12-27       2018-08-31  2018-08-31 00:00:00
                2018-12-28       2018-08-31  2018-08-31 00:00:00
                2018-12-29       2018-08-31  2018-08-31 00:00:00
                2018-12-30       2018-08-31  2018-08-31 00:00:00
                2018-12-31       2018-08-31  2018-08-31 00:00:00
                2019-01-01       2018-08-31  2018-08-31 00:00:00
                2019-01-02       2018-08-31  2018-08-31 00:00:00
                2019-01-03       2018-08-31  2018-08-31 00:00:00
                2019-01-04       2018-08-31  2018-08-31 00:00:00
                2019-01-05       2018-08-31  2018-08-31 00:00:00
                2019-01-06       2018-08-31  2018-08-31 00:00:00
                2019-01-07       2018-08-31  2018-08-31 00:00:00
                2019-01-08       2018-08-31  2018-08-31 00:00:00
                2019-01-09       2018-08-31  2018-08-31 00:00:00
                2019-01-10       2018-08-31  2018-08-31 00:00:00
                2019-01-11       2018-08-31  2018-08-31 00:00:00
                2019-01-12       2018-08-31  2018-08-31 00:00:00
                2019-01-13       2018-08-31  2018-08-31 00:00:00
                2019-01-14       2018-08-31  2018-08-31 00:00:00
                2019-01-15       2018-08-31  2018-08-31 00:00:00
                2019-01-16       2018-08-31  2018-08-31 00:00:00

[310826 rows x 2 columns]

In [228]:
acc_df_new.recipe_execution_date.unique()

array(['2019-01-09', '2019-01-16'], dtype=object)

In [484]:
col = 'country'
col_old, col_new = col + '_old', col + '_new'
temp = joint[joint[col_old] != joint[col_new]][[col_old,col_new]] \
                .dropna(subset=[col_old, col_new]) \
#                 .to_clipboard()     # comment if needed
temp
# temp.to_csv('/Users/joshfriedlander/Downloads/country.csv')

In [174]:
joint[joint.col_old!= joint.col_new].dropna(subset=[col_old, col_new])[[col_old, col_new]]
# joint[(joint.churn_in_stage_old!= joint.churn_in_stage_new) |
#      (joint.poc_end_date_old!= joint.poc_end_date_new) |
#      (joint.stage_old!= joint.stage_new)].dropna(subset=['churn_in_stage_old', 'churn_in_stage_new',
#                                                         'poc_end_date_old', 'poc_end_date_new',
#                                                         'stage_old', 'stage_new'])[['churn_in_stage_old', 'churn_in_stage_new',
#                                                         'poc_end_date_old', 'poc_end_date_new',
#                                                         'stage_old', 'stage_new']] \
#                     .to_csv('/Users/joshfriedlander/Downloads/differences_target.csv')

AttributeError: 'DataFrame' object has no attribute 'col_old'

In [118]:
joint.is_deleted_big = joint.is_deleted_big.map({'False':'false'})

# Idan's Checker

In [360]:
pd.set_option('display.max_columns', 500)

dir_1 = ''
dir_2 = ''

filename_list_1 = [
'pre_glued_account_old1.csv',
'pre_glued_target_old1.csv',
'glued_account_old2.csv',
'glued_target_old2.csv'
]

filename_list_2 = [
'pre_glued_account_new2.csv',
'pre_glued_target_new2.csv',
'glued_account_new2.csv',
'glued_target_new2.csv'
]

decimals = 4

file_name_to_rename_dict = {}

In [394]:
df_list = []
for file1, file2 in zip(filename_list_1, filename_list_2):

    full_path_1 = dir_1 + file1
    full_path_2 = dir_2 + file2
    identical_flag = filecmp.cmp(full_path_1, full_path_2)
    print('===')
#     print("{} : {} <> {}".format('identical' if identical_flag else 'NOT identical', file1, file2))
    if not identical_flag:
        df1 = pd.read_csv(full_path_1, index_col=0, dtype=object)
        df2 = pd.read_csv(full_path_2, index_col=0, dtype=object)
        if ('pai_account_id' in list(df1))and('date' in list(df1)):
            df1 = df1.sort_values(by=['pai_account_id', 'date']).reset_index(drop=True)
        if ('pai_account_id' in list(df2)) and ('date' in list(df2)):
            df2 = df2.sort_values(by=['pai_account_id', 'date']).reset_index(drop=True)
#         df1 = df1.reset_index(drop=True)
#         df2 = df2.reset_index(drop=True)
        df_list.append((df1, df2))

        # ~~~~~~~~~PRE-PROCESSSING -- PIGUMIM ~~~~~~~~~~~~~~~~
        if file1 == 'pre_glued_account_old1.csv':
            pass
        elif file1 == 'pre_glued_target_old1.csv':
            pass
        elif file1 == 'glued_account_old2.csv':
            pass
        elif file1 == 'glued_target_old2.csv':
            pass
        # ~~~~~~~~~PRE-PROCESSSING -- PIGUMIM ~~~~~~~~~~~~~~~~

===
===
===
===

In [460]:
# Pre-glued account
col = 'country'
pair = 0
member = 1
df_list[pair][member][col] = df_list[pair][member][col].str.lstrip('"')
df_list[pair][member][col] = df_list[pair][member][col].str.rstrip('"')
df_list[pair][member][col] = df_list[pair][member][col].str.replace('"','')

In [461]:
assert_series_equal(df_list[pair][0][col], df_list[pair][1][col], check_names=False, check_less_precise=True)

AssertionError: Series are different

Series values are different (1.98742 %)
[left]:  [US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, ...]
[right]: [US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, US, ...]

In [474]:
temp = pd.concat([df_list[pair][0][col], df_list[pair][1][col]],1)#.dropna()
# temp.columns = ['left', 'right']
# temp['len1'] = temp.left.str.len()
# temp['len2'] = temp.right.str.len()

In [475]:
test = temp[(temp.iloc[:,0] != temp.iloc[:,1])]#.iloc[0].values
# test = temp[(temp.iloc[:,0].ne(temp.iloc[:,1])) & (temp.right == 255)]
# print(test[0])
# print('----------')
# print(test[1])

In [476]:
test

              country country
1348               US     NaN
1349               US     NaN
1427               US     NaN
1428               US     NaN
1506               US     NaN
1507               US     NaN
1607               US     NaN
1608               US     NaN
1771        Hong Kong     NaN
1772        Hong Kong     NaN
1850               US     NaN
1851               US     NaN
1929               US     NaN
1930               US     NaN
2008               US     NaN
2009               US     NaN
2163               US     NaN
2164               US     NaN
2242           Turkey     NaN
2243           Turkey     NaN
2397               US     NaN
2398               US     NaN
2476               US     NaN
2477               US     NaN
2631               US     NaN
2632               US     NaN
2710               US     NaN
2711               US     NaN
2789               US     NaN
2790               US     NaN
...               ...     ...
45390             NaN     NaN
45467              US     NaN
45468              US     NaN
45545              US     NaN
45546              US     NaN
45623              US     NaN
45624              US     NaN
45809              US     NaN
45810              US     NaN
45887              US     NaN
45888              US     NaN
46088             NaN     NaN
46241             NaN     NaN
46242             NaN     NaN
46319              US     NaN
46320              US     NaN
46397              US     NaN
46474           Spain     NaN
46475           Spain     NaN
46628              US     NaN
46629              US     NaN
46858              US     NaN
46859              US     NaN
47012              US     NaN
47013              US     NaN
47090              US     NaN
47091              US     NaN
47168              US     NaN
47625             NaN     NaN
47626  United Kingdom     NaN

[1180 rows x 2 columns]

In [445]:
temp[temp.iloc[:,0].ne(temp.iloc[:,1])].shape

(690, 2)

In [437]:
temp[temp.iloc[:,0].ne(temp.iloc[:,1])].iloc[:,1].unique()

array(['- Service is too expensive and sophisticated for the customer despite the fact he appreciates our service and professionalism.\n- Wanted to suspend and try another, cheaper and simpler repricer. \n- During the suspension period I tried to convince the custo',
       "- Customer has wanted to leave several times and was convinced to stay every time until now.\n- Customer wasn't convinced about Feedvisor despite several Value analyses that I shared with him.\n- They wanted to control aggressiveness and had a lot of PL ite",
       '- Brandon asked that we cancel their Feedvisor subscription come their opt out date (June 31st).\n- Their business took a massive shift a couple of months ago. They transitioned from being a 3rd party Amazon seller only to Managing e-commerce business part',
       '- Due to various bugs and delays in showing data customer lost trust in dashboard data. \n- Customer is looking for a system that integrates and manages purchase orders (PO). They found that Teikametrics offers this ability. This is their highest priority.',
       '#NAME?',
       '- Customer experienced problems from the start with the import due to SKU names. \n- Customer is not tech savvy and required my assistance to change prices and costs every time.\n- Customer is very small (~10k) and does not feel she can justify the cost.\n- ',
       '- Customer had many products at floor and could not lower it any further. This made it very difficult to utilize our dynamic repricing services.\n- Despite many analyses and other attempts at showing value the customer wanted to churn but missed the exit p',
       "- Enabled repricing for 3 hours and noticed prices were a lot less than before repricing but more so he was surprised to compete with Amazon. Worried he pulling down market prices trying to compete with Aamzon when he didn't really need to since all other"],
      dtype=object)

In [438]:
df_list[pair][1][col].apply(lambda x: len(x) if not pd.isnull(x) else x).dropna()

106      273.0
107      273.0
108      273.0
109      273.0
110      273.0
111      273.0
112      273.0
113      273.0
114      273.0
115      273.0
116      273.0
117      273.0
118      273.0
119      273.0
120      273.0
121      273.0
122      273.0
123      273.0
124      273.0
125      273.0
126      273.0
127      273.0
128      273.0
129      273.0
130      273.0
131      273.0
132      273.0
133      273.0
134      273.0
135      273.0
         ...
51313    348.0
51314    348.0
51315    348.0
51598    598.0
51599    598.0
51600    598.0
51601    598.0
51602    598.0
51603    598.0
51604    598.0
51605    598.0
51606    598.0
51607    598.0
51608    598.0
51609    598.0
51610    598.0
51611    676.0
51612    676.0
51613    676.0
51614    676.0
51615    676.0
51616    676.0
51617    676.0
51618    676.0
51619    676.0
51757    588.0
51758    588.0
51759    588.0
51760    588.0
51761    588.0
Name: cancellation_reason, Length: 28892, dtype: float64

In [446]:
temp.iloc[:,1][temp.iloc[:,1].apply(lambda x: len(x) == 255)].shape

(532,)

In [420]:
temp.iloc[:,1] = temp.iloc[:,1].replace('"','')

In [419]:
test[0] == re.sub('"','',test[1])

True

In [218]:
        if _eval_dfs_up_to_decimal(df1, df2):
            print("{} : {} <> {}".format('almost identical', file1, file2))
            continue

        cols = sorted(df1.columns.tolist())
        if cols != sorted(df2.columns.tolist()):
            s1 = set(df1.columns.tolist())
            s2 = set(df2.columns.tolist())
            s = 'ERROR columns: f1-f2 = {}\n'.format(sorted(list(s1.difference(s2))))
            s += 'ERROR columns: f2-f1 = {}\n'.format(sorted(list(s2.difference(s1))))
#             print(s)
            if file1 in file_name_to_rename_dict:
                print('renaming {} columns {}'.format(file1, file_name_to_rename_dict[file1]))
                df1 = df1.rename(columns=file_name_to_rename_dict[file1])
            s1 = set(df1.columns.tolist())
            cols = list(s1.intersection(s2))
            df1 = df1[cols].copy()
            df2 = df2[cols].copy()

        if df1.shape != df2.shape:
            print('Shapes are NOT identical: {}!={}'.format(df1.shape, df2.shape))
            if not('pai_account_id' in list(df1) and 'pai_account_id' in list(df2) and 'date' in list(df1) and 'date' in list(df2)):
                continue
            s1 = set(zip(df1['pai_account_id'].tolist(), df1['date'].tolist()))
            s2 = set(zip(df2['pai_account_id'].tolist(), df2['date'].tolist()))
            s = s1.intersection(s2)
            print('number of common rows: {}'.format(len(s)))
            r = df1.apply(lambda row: (row['pai_account_id'], row['date']) in s, axis=1)
            df1 = df1.loc[r].reset_index(drop=True)
            r = df2.apply(lambda row: (row['pai_account_id'], row['date']) in s, axis=1)
            df2 = df2.loc[r].reset_index(drop=True)

        if df1.shape == df2.shape:
            print('Shapes are identical: {}=={}'.format(df1.shape, df2.shape))

            cols = df1.columns.tolist()
            if 'pai_account_id' in list(df1) and 'date' in list(df1):
                cols.remove('pai_account_id')
                cols.remove('date')
                cols = ['pai_account_id', 'date'] + cols
                df1 = df1.sort_values(by=cols).reset_index(drop=True)
                df2 = df2.sort_values(by=cols).reset_index(drop=True)

            for col in cols:
                if _eval_dfs_up_to_decimal(df1[[col]], df2[[col]]):
                    print('{} is identical'.format(col))
                    continue

                r = pd.isnull(df1[col]) | pd.isnull(df2[col])
                x = pd.to_numeric(df1.loc[~r][col], errors='coerce').to_frame()
                y = pd.to_numeric(df2.loc[~r][col], errors='coerce').to_frame()
                if (~pd.isnull(x[col])).all() and (~pd.isnull(y[col])).all() and x.shape[0]>0:
                    x = x[[col]].values.astype(float)
                    y = y[[col]].values.astype(float)
                    if (x == y).all():
                        print('{} is identical'.format(col))
                        continue
                else:
                    if _is_probably_datetime_column(df1[col], df2[col], col):
                        df1[col] = pd.to_datetime(df1[col], errors='coerce')
                        df2[col] = pd.to_datetime(df2[col], errors='coerce')

                if _eval_dfs_up_to_decimal(df1[[col]], df2[[col]]):
                    print('{} is identical'.format(col))
                    continue

                rows = df1[col] != df2[col]
                rows2 = pd.isnull(df1[col])
                rows2 = np.logical_and(rows2, pd.isnull(df2[col]))
                rows2 = np.logical_not(rows2)
                rows = np.logical_and(rows, rows2)
                print('ERROR {}:{} mismatches out of {}'.format(col, rows.sum(), rows.size))

                l1 = df1.loc[rows][col].tolist()
                l2 = df2.loc[rows][col].tolist()

                if not ('pai_account_id' in list(df1) and 'pai_account_id' in list(df2) and 'date' in list(
                        df1) and 'date' in list(df2)):
                    print(list(zip(l1,l2))[:10])

                ddf1 = df1.loc[rows][['pai_account_id', 'date', col]].copy()
                ddf2 = df2.loc[rows][['pai_account_id', 'date', col]].copy()

                print(ddf1.head())
                print(ddf2.head())

===
Shapes are identical: (51977, 33)==(51977, 33)
pai_account_id is identical
date is identical
price_trend is identical
churn_probability is identical
x2nd_repricer_of_products_repriced is identical
client_id is identical
churn_preventability is identical
upsell_opportunity_package is identical
last_bill_total_fee is identical
base_mrr is identical
totango_account_health is identical
monthly_variable_cap is identical
managed_product_sales_ratio_24h is identical
subscription_suspended is identical
needed_touchpoints is identical
of_repricing_online_stores is identical
last_bill_variable_fee is identical
fba_sales_last_30_days is identical
churn_probability_date is identical
next_calculated_exit_point is identical
ERROR Unnamed: 0:51977 mismatches out of 51977
    pai_account_id        date Unnamed: 0
0  0010J00001oc4O9  2017-11-01      45570
1  0010J00001oc4O9  2017-11-04       7916
2  0010J00001oc4O9  2017-11-05      23174
3  0010J00001oc4O9  2017-11-07      41606
4  0010J00001oc4O9  2017-11-08       9890
    pai_account_id        date Unnamed: 0
0  0010J00001oc4O9  2017-11-01    1394026
1  0010J00001oc4O9  2017-11-04    1199619
2  0010J00001oc4O9  2017-11-05    1207111
3  0010J00001oc4O9  2017-11-07     998672
4  0010J00001oc4O9  2017-11-08    1106944
account_name is identical
profit_trend is identical
email is identical
account_currency_code is identical
current_csm is identical
ERROR recipe_execution_date:51977 mismatches out of 51977
    pai_account_id        date recipe_execution_date
0  0010J00001oc4O9  2017-11-01            2018-03-15
1  0010J00001oc4O9  2017-11-04            2018-03-13
2  0010J00001oc4O9  2017-11-05            2018-03-13
3  0010J00001oc4O9  2017-11-07            2018-03-13
4  0010J00001oc4O9  2017-11-08            2018-03-13
    pai_account_id        date recipe_execution_date
0  0010J00001oc4O9  2017-11-01            2019-01-09
1  0010J00001oc4O9  2017-11-04            2019-01-09
2  0010J00001oc4O9  2017-11-05            2019-01-09
3  0010J00001oc4O9  2017-11-07            2019-01-09
4  0010J00001oc4O9  2017-11-08            2019-01-09
contract_term is identical
package is identical
time_zone is identical
ERROR cancellation_reason:3283 mismatches out of 51977
      pai_account_id        date  \
131  0010J00001oc4q3  2018-01-27
132  0010J00001oc4q3  2018-01-29
133  0010J00001oc4q3  2018-01-31
134  0010J00001oc4q3  2018-02-03
135  0010J00001oc4q3  2018-02-04

                                   cancellation_reason
131  Performance showed great results but client is...
132  Performance showed great results but client is...
133  Performance showed great results but client is...
134  Performance showed great results but client is...
135  Performance showed great results but client is...
      pai_account_id        date  \
131  0010J00001oc4q3  2018-01-27
132  0010J00001oc4q3  2018-01-29
133  0010J00001oc4q3  2018-01-31
134  0010J00001oc4q3  2018-02-03
135  0010J00001oc4q3  2018-02-04

                                   cancellation_reason
131  "Performance showed great results but client i...
132  "Performance showed great results but client i...
133  "Performance showed great results but client i...
134  "Performance showed great results but client i...
135  "Performance showed great results but client i...
ERROR churn_probability_description:3704 mismatches out of 51977
     pai_account_id        date  \
55  0010J00001oc4O9  2018-01-27
56  0010J00001oc4O9  2018-01-29
57  0010J00001oc4O9  2018-01-31
58  0010J00001oc4O9  2018-02-03
59  0010J00001oc4O9  2018-02-04

                        churn_probability_description
55  1/19\nDowngrading because customer is in great...
56  1/19\nDowngrading because customer is in great...
57  1/19\nDowngrading because customer is in great...
58  1/19\nDowngrading because customer is in great...
59  1/19\nDowngrading because customer is in great...
     pai_account_id        date  \
55  0010J00001oc4O9  2018-01-27
56  0010J00001oc4O9  2018-01-29
57  0010J00001oc4O9  2018-01-31
58  0010J00001oc4O9  2018-02-03
59  0010J00001oc4O9  2018-02-04

                        churn_probability_description
55  "1/19\nDowngrading because customer is in grea...
56  "1/19\nDowngrading because customer is in grea...
57  "1/19\nDowngrading because customer is in grea...
58  "1/19\nDowngrading because customer is in grea...
59  "1/19\nDowngrading because customer is in grea...
ERROR country:1060 mismatches out of 51977
       pai_account_id        date country
1348  001b0000003T3TA  2017-04-16      US
1349  001b0000003T3TA  2017-04-25      US
1427  001b0000003qQeJ  2017-04-16      US
1428  001b0000003qQeJ  2017-04-25      US
1506  001b0000007VOae  2017-04-16      US
       pai_account_id        date country
1348  001b0000003T3TA  2017-04-16     NaN
1349  001b0000003T3TA  2017-04-25     NaN
1427  001b0000003qQeJ  2017-04-16     NaN
1428  001b0000003qQeJ  2017-04-25     NaN
1506  001b0000007VOae  2017-04-16     NaN
===
Shapes are identical: (51977, 18)==(51977, 18)
pai_account_id is identical
date is identical
ERROR Unnamed: 0:51977 mismatches out of 51977
    pai_account_id        date Unnamed: 0
0  0010J00001oc4O9  2017-11-01      19211
1  0010J00001oc4O9  2017-11-04      50244
2  0010J00001oc4O9  2017-11-05      33042
3  0010J00001oc4O9  2017-11-07      13896
4  0010J00001oc4O9  2017-11-08      19865
    pai_account_id        date Unnamed: 0
0  0010J00001oc4O9  2017-11-01    1394026
1  0010J00001oc4O9  2017-11-04    1199619
2  0010J00001oc4O9  2017-11-05    1207111
3  0010J00001oc4O9  2017-11-07     998672
4  0010J00001oc4O9  2017-11-08    1106944
client_id is identical
ERROR recipe_execution_date:51977 mismatches out of 51977
    pai_account_id        date recipe_execution_date
0  0010J00001oc4O9  2017-11-01            2018-03-18
1  0010J00001oc4O9  2017-11-04            2018-03-19
2  0010J00001oc4O9  2017-11-05            2018-03-19
3  0010J00001oc4O9  2017-11-07            2018-03-18
4  0010J00001oc4O9  2017-11-08            2018-03-18
    pai_account_id        date recipe_execution_date
0  0010J00001oc4O9  2017-11-01            2019-01-09
1  0010J00001oc4O9  2017-11-04            2019-01-09
2  0010J00001oc4O9  2017-11-05            2019-01-09
3  0010J00001oc4O9  2017-11-07            2019-01-09
4  0010J00001oc4O9  2017-11-08            2019-01-09
last_activity is identical
churn_month is identical
repricing_activated is identical
profile is identical
ERROR poc_end_date:66 mismatches out of 51977
       pai_account_id        date poc_end_date
3986  001b000000m6pX3  2017-10-22   2016-04-02
3987  001b000000m6pX3  2017-10-24   2016-04-02
3988  001b000000m6pX3  2017-10-25   2016-04-02
3989  001b000000m6pX3  2017-11-01   2016-04-02
3990  001b000000m6pX3  2017-11-04   2016-04-02
       pai_account_id        date poc_end_date
3986  001b000000m6pX3  2017-10-22   2016-02-01
3987  001b000000m6pX3  2017-10-24   2016-02-01
3988  001b000000m6pX3  2017-10-25   2016-02-01
3989  001b000000m6pX3  2017-11-01   2016-02-01
3990  001b000000m6pX3  2017-11-04   2016-02-01
ERROR churn_in_stage_poc:22 mismatches out of 51977
       pai_account_id        date churn_in_stage_poc
1854  001b000000FnoxB  2017-10-08                0.0
1855  001b000000FnoxB  2017-10-09                0.0
1856  001b000000FnoxB  2017-10-11                0.0
1857  001b000000FnoxB  2017-10-12                0.0
1858  001b000000FnoxB  2017-10-15                0.0
       pai_account_id        date churn_in_stage_poc
1854  001b000000FnoxB  2017-10-08                1.0
1855  001b000000FnoxB  2017-10-09                1.0
1856  001b000000FnoxB  2017-10-11                1.0
1857  001b000000FnoxB  2017-10-12                1.0
1858  001b000000FnoxB  2017-10-15                1.0
reached_poc_stage is identical
ERROR stage:7 mismatches out of 51977
        pai_account_id        date stage
2026   001b000000HD2rh  2017-11-07   poc
2030   001b000000HD2rh  2017-11-13   poc
11334  001b0000019wSsQ  2017-12-09   poc
11413  001b0000019wf5M  2017-12-09   poc
11492  001b0000019wfNp  2017-12-09   poc
        pai_account_id        date   stage
2026   001b000000HD2rh  2017-11-07  paying
2030   001b000000HD2rh  2017-11-13  paying
11334  001b0000019wSsQ  2017-12-09  paying
11413  001b0000019wf5M  2017-12-09  paying
11492  001b0000019wfNp  2017-12-09  paying
ERROR churn_in_stage_paying:7 mismatches out of 51977
        pai_account_id        date churn_in_stage_paying
2026   001b000000HD2rh  2017-11-07                     0
2030   001b000000HD2rh  2017-11-13                     0
11334  001b0000019wSsQ  2017-12-09                     0
11413  001b0000019wf5M  2017-12-09                     0
11492  001b0000019wfNp  2017-12-09                     0
        pai_account_id        date churn_in_stage_paying
2026   001b000000HD2rh  2017-11-07                     1
2030   001b000000HD2rh  2017-11-13                     1
11334  001b0000019wSsQ  2017-12-09                     1
11413  001b0000019wf5M  2017-12-09                     1
11492  001b0000019wfNp  2017-12-09                     1
ERROR churn_in_stage:22 mismatches out of 51977

       pai_account_id        date churn_in_stage
1854  001b000000FnoxB  2017-10-08            0.0
1855  001b000000FnoxB  2017-10-09            0.0
1856  001b000000FnoxB  2017-10-11            0.0
1857  001b000000FnoxB  2017-10-12            0.0
1858  001b000000FnoxB  2017-10-15            0.0
       pai_account_id        date churn_in_stage
1854  001b000000FnoxB  2017-10-08            1.0
1855  001b000000FnoxB  2017-10-09            1.0
1856  001b000000FnoxB  2017-10-11            1.0
1857  001b000000FnoxB  2017-10-12            1.0
1858  001b000000FnoxB  2017-10-15            1.0
account_birth_date is identical
ERROR is_deleted:51977 mismatches out of 51977
    pai_account_id        date is_deleted
0  0010J00001oc4O9  2017-11-01      false
1  0010J00001oc4O9  2017-11-04      false
2  0010J00001oc4O9  2017-11-05      false
3  0010J00001oc4O9  2017-11-07      false
4  0010J00001oc4O9  2017-11-08      false
    pai_account_id        date is_deleted
0  0010J00001oc4O9  2017-11-01      False
1  0010J00001oc4O9  2017-11-04      False
2  0010J00001oc4O9  2017-11-05      False
3  0010J00001oc4O9  2017-11-07      False
4  0010J00001oc4O9  2017-11-08      False
pai_is_deleted is identical
===
Shapes are identical: (452698, 33)==(452698, 33)
pai_account_id is identical
date is identical
ERROR Unnamed: 0:51977 mismatches out of 452698
      pai_account_id        date Unnamed: 0
218  0010J00001oc4O9  2017-11-01      45385
219  0010J00001oc4O9  2017-11-04       7886
220  0010J00001oc4O9  2017-11-05      23078
221  0010J00001oc4O9  2017-11-07      41438
222  0010J00001oc4O9  2017-11-08       9851
      pai_account_id        date Unnamed: 0
218  0010J00001oc4O9  2017-11-01      43285
219  0010J00001oc4O9  2017-11-04      36365
220  0010J00001oc4O9  2017-11-05      36419
221  0010J00001oc4O9  2017-11-07      27606
222  0010J00001oc4O9  2017-11-08      32419
account_name is identical
base_mrr is identical
ERROR cancellation_reason:3283 mismatches out of 452698
      pai_account_id        date  \
696  0010J00001oc4q3  2018-01-27
697  0010J00001oc4q3  2018-01-29
698  0010J00001oc4q3  2018-01-31
699  0010J00001oc4q3  2018-02-03
700  0010J00001oc4q3  2018-02-04

                                   cancellation_reason
696  Performance showed great results but client is...
697  Performance showed great results but client is...
698  Performance showed great results but client is...
699  Performance showed great results but client is...
700  Performance showed great results but client is...
      pai_account_id        date  \
696  0010J00001oc4q3  2018-01-27
697  0010J00001oc4q3  2018-01-29
698  0010J00001oc4q3  2018-01-31
699  0010J00001oc4q3  2018-02-03
700  0010J00001oc4q3  2018-02-04

                                   cancellation_reason
696  "Performance showed great results but client i...
697  "Performance showed great results but client i...
698  "Performance showed great results but client i...
699  "Performance showed great results but client i...
700  "Performance showed great results but client i...
churn_preventability is identical
churn_probability is identical
churn_probability_date is identical
ERROR churn_probability_description:3704 mismatches out of 452698
      pai_account_id        date  \
273  0010J00001oc4O9  2018-01-27
274  0010J00001oc4O9  2018-01-29
275  0010J00001oc4O9  2018-01-31
276  0010J00001oc4O9  2018-02-03
277  0010J00001oc4O9  2018-02-04

                         churn_probability_description
273  1/19\nDowngrading because customer is in great...
274  1/19\nDowngrading because customer is in great...
275  1/19\nDowngrading because customer is in great...
276  1/19\nDowngrading because customer is in great...
277  1/19\nDowngrading because customer is in great...
      pai_account_id        date  \
273  0010J00001oc4O9  2018-01-27
274  0010J00001oc4O9  2018-01-29
275  0010J00001oc4O9  2018-01-31
276  0010J00001oc4O9  2018-02-03
277  0010J00001oc4O9  2018-02-04

                         churn_probability_description
273  "1/19\nDowngrading because customer is in grea...
274  "1/19\nDowngrading because customer is in grea...
275  "1/19\nDowngrading because customer is in grea...
276  "1/19\nDowngrading because customer is in grea...
277  "1/19\nDowngrading because customer is in grea...
client_id is identical
contract_term is identical
ERROR country:1060 mismatches out of 452698
        pai_account_id        date country
41605  001b0000003T3TA  2017-04-16      US
41606  001b0000003T3TA  2017-04-25      US
42190  001b0000003qQeJ  2017-04-16      US
42191  001b0000003qQeJ  2017-04-25      US
53810  001b0000007VOae  2017-04-16      US
        pai_account_id        date country
41605  001b0000003T3TA  2017-04-16     NaN
41606  001b0000003T3TA  2017-04-25     NaN
42190  001b0000003qQeJ  2017-04-16     NaN
42191  001b0000003qQeJ  2017-04-25     NaN
53810  001b0000007VOae  2017-04-16     NaN
account_currency_code is identical
current_csm is identical
last_bill_total_fee is identical
email is identical
fba_sales_last_30_days is identical
last_bill_variable_fee is identical
managed_product_sales_ratio_24h is identical
monthly_variable_cap is identical
ERROR needed_touchpoints:50355 mismatches out of 452698
      pai_account_id        date needed_touchpoints
218  0010J00001oc4O9  2017-11-01                NaN
219  0010J00001oc4O9  2017-11-04                NaN
220  0010J00001oc4O9  2017-11-05                NaN
221  0010J00001oc4O9  2017-11-07                NaN
222  0010J00001oc4O9  2017-11-08                NaN
      pai_account_id        date    needed_touchpoints
218  0010J00001oc4O9  2017-11-01  No Touchpoint Needed
219  0010J00001oc4O9  2017-11-04  No Touchpoint Needed
220  0010J00001oc4O9  2017-11-05  No Touchpoint Needed
221  0010J00001oc4O9  2017-11-07  No Touchpoint Needed
222  0010J00001oc4O9  2017-11-08  No Touchpoint Needed
next_calculated_exit_point is identical
of_repricing_online_stores is identical
package is identical
price_trend is identical
profit_trend is identical
ERROR recipe_execution_date:51977 mismatches out of 452698
      pai_account_id        date recipe_execution_date
218  0010J00001oc4O9  2017-11-01            2018-03-15
219  0010J00001oc4O9  2017-11-04            2018-03-13
220  0010J00001oc4O9  2017-11-05            2018-03-13
221  0010J00001oc4O9  2017-11-07            2018-03-13
222  0010J00001oc4O9  2017-11-08            2018-03-13
      pai_account_id        date recipe_execution_date
218  0010J00001oc4O9  2017-11-01            2019-01-09
219  0010J00001oc4O9  2017-11-04            2019-01-09
220  0010J00001oc4O9  2017-11-05            2019-01-09
221  0010J00001oc4O9  2017-11-07            2019-01-09
222  0010J00001oc4O9  2017-11-08            2019-01-09
ERROR subscription_suspended:51977 mismatches out of 452698
      pai_account_id        date subscription_suspended
218  0010J00001oc4O9  2017-11-01                    NaN
219  0010J00001oc4O9  2017-11-04                    NaN
220  0010J00001oc4O9  2017-11-05                    NaN
221  0010J00001oc4O9  2017-11-07                    NaN
222  0010J00001oc4O9  2017-11-08                    NaN
      pai_account_id        date subscription_suspended
218  0010J00001oc4O9  2017-11-01                    0.0
219  0010J00001oc4O9  2017-11-04                    0.0
220  0010J00001oc4O9  2017-11-05                    0.0
221  0010J00001oc4O9  2017-11-07                    0.0
222  0010J00001oc4O9  2017-11-08                    0.0
time_zone is identical
totango_account_health is identical
upsell_opportunity_package is identical
x2nd_repricer_of_products_repriced is identical
===
Shapes are identical: (452698, 18)==(452698, 18)
pai_account_id is identical
date is identical
ERROR Unnamed: 0:51977 mismatches out of 452698
      pai_account_id        date Unnamed: 0
218  0010J00001oc4O9  2017-11-01      19135
219  0010J00001oc4O9  2017-11-04      50040
220  0010J00001oc4O9  2017-11-05      32908
221  0010J00001oc4O9  2017-11-07      13842
222  0010J00001oc4O9  2017-11-08      19786
      pai_account_id        date Unnamed: 0
218  0010J00001oc4O9  2017-11-01      43285
219  0010J00001oc4O9  2017-11-04      36365
220  0010J00001oc4O9  2017-11-05      36419
221  0010J00001oc4O9  2017-11-07      27606
222  0010J00001oc4O9  2017-11-08      32419

account_birth_date is identical
ERROR churn_in_stage:22 mismatches out of 452698
        pai_account_id        date churn_in_stage
67503  001b000000FnoxB  2017-10-08            0.0
67504  001b000000FnoxB  2017-10-09            0.0
67505  001b000000FnoxB  2017-10-11            0.0
67506  001b000000FnoxB  2017-10-12            0.0
67507  001b000000FnoxB  2017-10-15            0.0
        pai_account_id        date churn_in_stage
67503  001b000000FnoxB  2017-10-08            1.0
67504  001b000000FnoxB  2017-10-09            1.0
67505  001b000000FnoxB  2017-10-11            1.0
67506  001b000000FnoxB  2017-10-12            1.0
67507  001b000000FnoxB  2017-10-15            1.0
ERROR churn_in_stage_paying:7 mismatches out of 452698
         pai_account_id        date churn_in_stage_paying
70266   001b000000HD2rh  2017-11-07                     0
70270   001b000000HD2rh  2017-11-13                     0
179120  001b0000019wSsQ  2017-12-09                     0
179313  001b0000019wf5M  2017-12-09                     0
179479  001b0000019wfNp  2017-12-09                     0
         pai_account_id        date churn_in_stage_paying
70266   001b000000HD2rh  2017-11-07                     1
70270   001b000000HD2rh  2017-11-13                     1
179120  001b0000019wSsQ  2017-12-09                     1
179313  001b0000019wf5M  2017-12-09                     1
179479  001b0000019wfNp  2017-12-09                     1
ERROR churn_in_stage_poc:22 mismatches out of 452698
        pai_account_id        date churn_in_stage_poc
67503  001b000000FnoxB  2017-10-08                0.0
67504  001b000000FnoxB  2017-10-09                0.0
67505  001b000000FnoxB  2017-10-11                0.0
67506  001b000000FnoxB  2017-10-12                0.0
67507  001b000000FnoxB  2017-10-15                0.0
        pai_account_id        date churn_in_stage_poc
67503  001b000000FnoxB  2017-10-08                1.0
67504  001b000000FnoxB  2017-10-09                1.0
67505  001b000000FnoxB  2017-10-11                1.0
67506  001b000000FnoxB  2017-10-12                1.0
67507  001b000000FnoxB  2017-10-15                1.0
churn_month is identical
client_id is identical
ERROR is_deleted:51977 mismatches out of 452698
      pai_account_id        date is_deleted
218  0010J00001oc4O9  2017-11-01      false
219  0010J00001oc4O9  2017-11-04      false
220  0010J00001oc4O9  2017-11-05      false
221  0010J00001oc4O9  2017-11-07      false
222  0010J00001oc4O9  2017-11-08      false
      pai_account_id        date is_deleted
218  0010J00001oc4O9  2017-11-01      False
219  0010J00001oc4O9  2017-11-04      False
220  0010J00001oc4O9  2017-11-05      False
221  0010J00001oc4O9  2017-11-07      False
222  0010J00001oc4O9  2017-11-08      False
last_activity is identical
pai_is_deleted is identical

/Users/joshfriedlander/miniconda3/lib/python3.7/site-packages/pandas/util/testing.py:1244: FutureWarning: In the future, 'NAT == x' and 'x == NAT' will always be False.
  obj='{obj}'.format(obj=obj))

ERROR poc_end_date:66 mismatches out of 452698
         pai_account_id        date poc_end_date
140263  001b000000m6pX3  2017-10-22   2016-04-02
140264  001b000000m6pX3  2017-10-24   2016-04-02
140265  001b000000m6pX3  2017-10-25   2016-04-02
140266  001b000000m6pX3  2017-11-01   2016-04-02
140267  001b000000m6pX3  2017-11-04   2016-04-02
         pai_account_id        date poc_end_date
140263  001b000000m6pX3  2017-10-22   2016-02-01
140264  001b000000m6pX3  2017-10-24   2016-02-01
140265  001b000000m6pX3  2017-10-25   2016-02-01
140266  001b000000m6pX3  2017-11-01   2016-02-01
140267  001b000000m6pX3  2017-11-04   2016-02-01
profile is identical
ERROR recipe_execution_date:51977 mismatches out of 452698
      pai_account_id        date recipe_execution_date
218  0010J00001oc4O9  2017-11-01            2018-03-18
219  0010J00001oc4O9  2017-11-04            2018-03-19
220  0010J00001oc4O9  2017-11-05            2018-03-19
221  0010J00001oc4O9  2017-11-07            2018-03-18
222  0010J00001oc4O9  2017-11-08            2018-03-18
      pai_account_id        date recipe_execution_date
218  0010J00001oc4O9  2017-11-01            2019-01-09
219  0010J00001oc4O9  2017-11-04            2019-01-09
220  0010J00001oc4O9  2017-11-05            2019-01-09
221  0010J00001oc4O9  2017-11-07            2019-01-09
222  0010J00001oc4O9  2017-11-08            2019-01-09
repricing_activated is identical
ERROR stage:7 mismatches out of 452698
         pai_account_id        date stage
70266   001b000000HD2rh  2017-11-07   poc
70270   001b000000HD2rh  2017-11-13   poc
179120  001b0000019wSsQ  2017-12-09   poc
179313  001b0000019wf5M  2017-12-09   poc
179479  001b0000019wfNp  2017-12-09   poc
         pai_account_id        date   stage
70266   001b000000HD2rh  2017-11-07  paying
70270   001b000000HD2rh  2017-11-13  paying
179120  001b0000019wSsQ  2017-12-09  paying
179313  001b0000019wf5M  2017-12-09  paying
179479  001b0000019wfNp  2017-12-09  paying
reached_poc_stage is identical

In [102]:
joint.churn_in_stage_big = joint.churn_in_stage_big.astype(float)

In [142]:
def _eval_dfs_up_to_decimal(x, y):
    try:
        pd.testing.assert_frame_equal(
            x, y, check_exact=False,
            check_dtype=True,
            check_less_precise=int(decimals))
        equal = True
    except AssertionError:
        equal = False
    return equal

In [95]:
t1[t1.index.get_level_values('pai_account_id').isin(['001b000000HD2rh',
 '001b000000HD2rh',
 '001b0000019wSsQ',
 '001b0000019wf5M',
 '001b0000019wfNp',
 '001b000001Eh9R9',
 '001b000001Eh9qL'])][['stage']].stage.value_counts()

paying    467
poc         7
Name: stage, dtype: int64

In [143]:
def _f(x):
    s = str(x)
    if (len(s) == 19) and (s[10:] == ' 00:00:00'):
        return s[:10]
    return x

In [117]:
joint.is_deleted_big.value_counts()

false    399618
False     51977
true        114
Name: is_deleted_big, dtype: int64

In [144]:
def _smart_fill_na(df):
    d = {
        'object': '',
        'int64': -12345,
        'float64': -12345.0,
    }

    cols = df.columns.tolist()
    for col in cols:
        df[col] = df[col].fillna(d[str(df[col].dtype)])
    return df

In [145]:
def _is_probably_datetime_column(df1, df2, col):
    if any([x in col.lower() for x in ['date', 'time']]):
        return True
    for i in range(10):
        s1 = df1.sample(10)
        if not (pd.isnull(s1.apply(lambda x: pd.to_datetime(str(x), errors='coerce'))).all()):
            return True
        s2 = df2.sample(10)
        if not (pd.isnull(s2.apply(lambda x: pd.to_datetime(str(x), errors='coerce'))).all()):
            return True
    return False

In [95]:
dict(zip(t.index, t.poc_end_date))

{('001b000003iVRHQ', '2017-11-08'): '2016-04-02',
 ('0010J00001opUHM', '2017-11-08'): '2016-04-02',
 ('0010J00001opSZk', '2017-11-08'): '2016-04-02',
 ('0010J00001opOlf', '2017-11-08'): '2016-04-02',
 ('001b0000003qQeJ', '2017-11-08'): '2016-04-02',
 ('001b0000003T3TA', '2017-11-08'): '2016-04-02',
 ('001b000003mZ0Qi', '2017-11-08'): '2016-04-02',
 ('0010J00001ooVZB', '2017-11-08'): '2016-04-02',
 ('001b000003qm2L4', '2017-11-08'): '2016-04-02',
 ('001b000003nCs6A', '2017-11-08'): '2016-04-02',
 ('001b000003jzTcQ', '2017-11-08'): '2016-04-02',
 ('001b000003rbrBc', '2017-11-08'): '2016-04-02',
 ('001b000003rbHuA', '2017-11-08'): '2016-04-02',
 ('001b000003oIYFz', '2017-11-08'): '2016-04-02',
 ('001b000003iTV9L', '2017-11-08'): '2016-04-02',
 ('001b000003iRxY9', '2017-11-08'): '2016-04-02',
 ('001b000000NuiqD', '2017-11-08'): '2016-04-02',
 ('001b000003j7Rjo', '2017-11-08'): '2016-04-02',
 ('001b000003iTR91', '2017-11-08'): '2016-04-02',
 ('001b000003j7Rcs', '2017-11-08'): '2016-04-02',
 ('001b000003kfzm0', '2017-11-08'): '2016-04-02',
 ('001b000003mYGWT', '2017-11-08'): '2016-04-02',
 ('001b000003mXnjl', '2017-11-08'): '2016-04-02',
 ('001b000000HD2rh', '2017-11-08'): '2016-04-02',
 ('001b000003qAhl0', '2017-11-08'): '2016-04-02',
 ('001b000003lKxcn', '2017-11-08'): '2016-04-02',
 ('001b000003hYqSv', '2017-11-08'): '2016-04-02',
 ('001b000000l7bqi', '2017-11-08'): '2016-04-02',
 ('001b000003QrWZy', '2017-11-08'): '2016-04-02',
 ('001b000003hWcJe', '2017-11-08'): '2016-04-02',
 ('001b000003hWbBj', '2017-11-08'): '2016-04-02',
 ('001b000003hW9ZA', '2017-11-08'): '2016-04-02',
 ('001b000003OGF51', '2017-11-08'): '2016-04-02',
 ('001b000003OGEyY', '2017-11-08'): '2016-04-02',
 ('001b000003OFiEu', '2017-11-08'): '2016-04-02',
 ('001b000003OFhq7', '2017-11-08'): '2016-04-02',
 ('001b000003kcX4l', '2017-11-08'): '2016-04-02',
 ('001b000003OFcXW', '2017-11-08'): '2016-04-02',
 ('001b000003OFLXq', '2017-11-08'): '2016-04-02',
 ('001b000003kcVmx', '2017-11-08'): '2016-04-02',
 ('001b000001SH0z2', '2017-11-08'): '2016-04-02',
 ('001b000001SGqhW', '2017-11-08'): '2016-04-02',
 ('001b000001SEhvW', '2017-11-08'): '2016-04-02',
 ('001b000001SEeIn', '2017-11-08'): '2016-04-02',
 ('001b000003gt2QM', '2017-11-08'): '2016-04-02',
 ('001b000001SEbcy', '2017-11-08'): '2016-04-02',
 ('001b000001SFnGP', '2017-11-08'): '2016-04-02',
 ('001b000003gszv8', '2017-11-08'): '2016-04-02',
 ('001b000001SFWmv', '2017-11-08'): '2016-04-02',
 ('001b000003gsX2S', '2017-11-08'): '2016-04-02',
 ('001b000000rIhOt', '2017-11-08'): '2016-04-02',
 ('001b000000rIVpO', '2017-11-08'): '2016-04-02',
 ('001b000000rILlc', '2017-11-08'): '2016-04-02',
 ('001b000003gs4A0', '2017-11-08'): '2016-04-02',
 ('001b000003gs1bU', '2017-11-08'): '2016-04-02',
 ('001b000003grxau', '2017-11-08'): '2016-04-02',
 ('001b000003griFK', '2017-11-08'): '2016-04-02',
 ('001b000000rHeWy', '2017-11-08'): '2016-04-02',
 ('001b000000rHWg3', '2017-11-08'): '2016-04-02',
 ('001b000000rHUNu', '2017-11-08'): '2016-04-02',
 ('001b000000rJLAu', '2017-11-08'): '2016-04-02',
 ('001b000003MDIDj', '2017-11-08'): '2016-04-02',
 ('001b000003MDMpX', '2017-11-08'): '2016-04-02',
 ('001b000003MBMCz', '2017-11-08'): '2016-04-02',
 ('001b000003LhsbJ', '2017-11-08'): '2016-04-02',
 ('001b000003LhZDa', '2017-11-08'): '2016-04-02',
 ('001b000003LhYLh', '2017-11-08'): '2016-04-02',
 ('001b000003LhWev', '2017-11-08'): '2016-04-02',
 ('001b000003OFEKl', '2017-11-08'): '2016-04-02',
 ('001b000003OF8w4', '2017-11-08'): '2016-04-02',
 ('001b000003OF8uD', '2017-11-08'): '2016-04-02',
 ('001b000003OF8Hk', '2017-11-08'): '2016-04-02',
 ('001b000003OF88x', '2017-11-08'): '2016-04-02',
 ('001b000003Ns5UA', '2017-11-08'): '2016-04-02',
 ('001b000003gpjqs', '2017-11-08'): '2016-04-02',
 ('001b000003gpSln', '2017-11-08'): '2016-04-02',
 ('001b000003NrzTs', '2017-11-08'): '2016-04-02',
 ('001b000003gpQf4', '2017-11-08'): '2016-04-02',
 ('001b000003NIMBP', '2017-11-08'): '2016-04-02',
 ('001b000003OFENz', '2017-11-08'): '2016-04-02',
 ('001b000001SEZNP', '2017-11-08'): '2016-04-02',
 ('001b000003fJa8p', '2017-11-08'): '2016-04-02',
 ('001b000001MVub9', '2017-11-08'): '2016-04-02',
 ('001b000001MVJ45', '2017-11-08'): '2016-04-02',
 ('001b000001HjKXB', '2017-11-08'): '2016-04-02',
 ('001b000003k02TI', '2017-11-08'): '2016-04-02',
 ('001b000001HjJW0', '2017-11-08'): '2016-04-02',
 ('001b000001HjJH0', '2017-11-08'): '2016-04-02',
 ('001b000001HjIIG', '2017-11-08'): '2016-04-02',
 ('001b000000qH3xY', '2017-11-08'): '2016-04-02',
 ('001b000003k01L8', '2017-11-08'): '2016-04-02',
 ('001b000000qGqfy', '2017-11-08'): '2016-04-02',
 ('001b000003g83Jb', '2017-11-08'): '2016-04-02',
 ('001b000000qGpaf', '2017-11-08'): '2016-04-02',
 ('001b000003g7nKo', '2017-11-08'): '2016-04-02',
 ('001b000000pmQSE', '2017-11-08'): '2016-04-02',
 ('001b000003g8u3B', '2017-11-08'): '2016-04-02',
 ('001b000003g7ZkV', '2017-11-08'): '2016-04-02',
 ('001b000000pmI6X', '2017-11-08'): '2016-04-02',
 ('001b000000plz1P', '2017-11-08'): '2016-04-02',
 ('001b000000pj5Iz', '2017-11-08'): '2016-04-02',
 ('001b000000piqO4', '2017-11-08'): '2016-04-02',
 ('001b000003LeROu', '2017-11-08'): '2016-04-02',
 ('001b000003JoyYZ', '2017-10-18'): '2016-05-13 00:00:00',
 ('001b000000sBvuL', '2017-10-18'): '2015-10-26 00:00:00',
 ('001b000000sBJKS', '2017-10-18'): '2015-07-28 00:00:00',
 ('001b000000sB52F', '2017-10-18'): '2018-01-18 00:00:00',
 ('001b000000sAgUY', '2017-10-18'): '2015-10-20 00:00:00',
 ('001b000000sAUW3', '2017-10-18'): '2016-02-25 00:00:00',
 ('001b000003Ux5Au', '2017-10-18'): '2017-02-03 00:00:00',
 ('001b000003UwvYq', '2017-10-18'): '2017-01-19 00:00:00',
 ('001b000003Uwo8u', '2017-10-18'): '2017-02-07 00:00:00',
 ('001b000003UwnfY', '2017-10-18'): '2017-02-15 00:00:00',
 ('001b000003Uwe4a', '2017-10-18'): '2017-01-14 00:00:00',
 ('001b000003Ux5De', '2017-10-18'): '2017-02-18 00:00:00',
 ('001b000003Ux5Cg', '2017-10-18'): '2017-04-23 00:00:00',
 ('001b000003H09Q1', '2017-10-18'): '2016-05-01 00:00:00',
 ('001b000002oYCgP', '2017-10-18'): '2016-03-02 00:00:00',
 ('001b000002oYCYG', '2017-10-18'): '2017-12-05 00:00:00',
 ('001b000002oY1oV', '2017-10-18'): '2016-03-24 00:00:00',
 ('001b000002LRKNT', '2017-10-18'): '2016-03-21 00:00:00',
 ('001b000002LRJO8', '2017-10-18'): '2016-03-16 00:00:00',
 ('001b000002LQvq9', '2017-10-18'): '2015-12-17 00:00:00',
 ('001b000002LQder', '2017-10-18'): '2016-02-12 00:00:00',
 ('001b000002LQdJA', '2017-10-18'): '2016-03-11 00:00:00',
 ('001b000003Jou8f', '2017-10-18'): '2016-06-14 00:00:00',
 ('001b000003JSy73', '2017-10-18'): '2016-06-04 00:00:00',
 ('001b000003JQM0T', '2017-10-18'): '2016-05-26 00:00:00',
 ('001b000003JPoFi', '2017-10-18'): '2016-12-12 00:00:00',
 ('001b000003JPdJH', '2017-10-18'): '2016-05-24 00:00:00',
 ('001b000003JPbQq', '2017-10-18'): '2016-06-01 00:00:00',
 ('001b000000qqwfi', '2017-10-18'): '2015-09-30 00:00:00',
 ('001b000000qqlp2', '2017-10-18'): '2016-07-02 00:00:00',
 ('001b000000qqhXw', '2017-10-18'): '2015-11-27 00:00:00',
 ('001b000000qJYm6', '2017-10-18'): '2016-02-01 00:00:00',
 ('001b000000qJ60G', '2017-10-18'): '2015-09-23 00:00:00',
 ('001b000000qr7YV', '2017-10-18'): '2015-07-02 00:00:00',
 ('001b000000qJ2cX', '2017-10-18'): '2017-06-22 00:00:00',
 ('001b000003WXKt2', '2017-10-18'): '2017-02-09 00:00:00',
 ('001b000003WXKiT', '2017-10-18'): '2017-09-06 00:00:00',
 ('001b000003UyZoi', '2017-10-18'): '2017-03-03 00:00:00',
 ('001b000003UyRjz', '2017-10-18'): '2017-01-12 00:00:00',
 ('001b000003Uy7tV', '2017-10-18'): '2017-01-31 00:00:00',
 ('001b000003Uy0fR', '2017-10-18'): '2017-04-16 00:00:00',
 ('001b000003Uxtnw', '2017-10-18'): '2017-02-28 00:00:00',
 ('001b000003Uxe9I', '2017-10-18'): '2017-02-07 00:00:00',
 ('001b000003Uxdxa', '2017-10-18'): '2017-01-23 00:00:00',
 ('001b000003UxTUu', '2017-10-18'): '2017-08-27 00:00:00',
 ('001b000002LQT1X', '2017-10-18'): '2015-12-10 00:00:00',
 ('001b000002LQE31', '2017-10-18'): '2016-03-14 00:00:00',
 ('001b0000026fqXU', '2017-10-18'): '2016-02-19 00:00:00',
 ('001b0000026fkYt', '2017-10-18'): '2016-02-13 00:00:00',
 ('001b0000026fkUI', '2017-10-18'): '2016-02-25 00:00:00',
 ('001b0000026fkC4', '2017-10-18'): '2015-11-18 00:00:00',
 ('001b0000026fggl', '2017-10-18'): '2016-02-20 00:00:00',
 ('001b0000026fR48', '2017-10-18'): '2015-11-24 00:00:00',
 ('001b000002LQUf8', '2017-10-18'): '2016-03-09 00:00:00',
 ('001b000002LQUR6', '2017-10-18'): '2016-03-09 00:00:00',
 ('001b0000026fDLx', '2017-10-18'): '2016-02-09 00:00:00',
 ('001b000003JPVyk', '2017-10-18'): '2016-08-20 00:00:00',
 ('001b000003IOr6l', '2017-10-18'): '2016-05-08 00:00:00',
 ('001b000003IOluI', '2017-10-18'): '2016-05-04 00:00:00',
 ('001b000003IOZuK', '2017-10-18'): '2017-10-15 00:00:00',
 ('001b000003IArQA', '2017-10-18'): '2016-05-29 00:00:00',
 ('001b000003IAqrS', '2017-10-18'): '2016-12-07 00:00:00',
 ('001b000003I8PmM', '2017-10-18'): '2016-02-24 00:00:00',
 ('001b000003I7szJ', '2017-10-18'): '2016-05-01 00:00:00',
 ('001b000000qIoSd', '2017-10-18'): '2015-07-02 00:00:00',
 ('001b000000p20V8', '2017-10-18'): '2017-07-12 00:00:00',
 ('001b000000p1zIx', '2017-10-18'): '2015-12-02 00:00:00',
 ('001b000000p1TIk', '2017-10-18'): '2015-09-10 00:00:00',
 ('001b000000qHw6M', '2017-10-18'): '2016-04-02 00:00:00',
 ('001b000000p1PVH', '2017-10-18'): '2016-06-02 00:00:00',
 ('001b000003Uvqsq', '2017-10-18'): '2017-01-08 00:00:00',
 ('001b000003UvnUB', '2017-10-18'): '2017-01-27 00:00:00',
 ('001b000003UvMOM', '2017-10-18'): '2017-01-18 00:00:00',
 ('001b000003Uuuel', '2017-10-18'): '2016-10-31 00:00:00',
 ('001b000003UuqM9', '2017-10-18'): '2016-11-30 00:00:00',
 ('001b0000026egEX', '2017-10-18'): '2016-02-06 00:00:00',
 ('001b0000026efzD', '2017-10-18'): '2016-09-28 00:00:00',
 ('001b0000026ecqJ', '2017-10-18'): '2015-11-06 00:00:00',
 ('001b0000026eX0V', '2017-10-18'): '2015-11-06 00:00:00',
 ('001b000001pnkTR', '2017-10-18'): '2016-02-17 00:00:00',
 ('001b000001pneto', '2017-10-18'): '2016-07-02 00:00:00',
 ('001b000001pnVw9', '2017-10-18'): '2016-02-11 00:00:00',
 ('001b000003I3LyH', '2017-10-18'): '2016-05-11 00:00:00',
 ('001b000003H03h3', '2017-10-18'): '2016-01-19 00:00:00',
 ('001b000003GaPwF', '2017-10-18'): '2016-04-15 00:00:00',
 ('001b000003GZC8g', '2017-10-18'): '2016-04-14 00:00:00',
 ('001b000003GZ2GR', '2017-10-18'): '2016-04-30 00:00:00',
 ('001b000003EjIPW', '2017-10-18'): '2016-04-15 00:00:00',
 ('001b000003EgXAM', '2017-10-18'): '2016-07-06 00:00:00',
 ('001b000003EgQai', '2017-10-18'): '2016-05-01 00:00:00',
 ('001b000003Cd1dQ', '2017-10-18'): '2016-04-12 00:00:00',
 ('001b000003Cd0mZ', '2017-10-18'): '2016-04-25 00:00:00',
 ('001b000002obMfB', '2017-10-18'): '2016-10-07 00:00:00',
 ('001b000000p0mcG', '2017-10-18'): '2015-09-02 00:00:00',
 ('001b000000p0jUI', '2017-10-18'): '2015-10-06 00:00:00',
 ('001b000000p0imW', '2017-10-18'): '2015-09-03 00:00:00',
 ('001b000000p0dPn', '2017-10-18'): '2015-09-23 00:00:00',
 ('001b000000p0tfS', '2017-10-18'): '2015-09-09 00:00:00',
 ('001b000000p0sRT', '2017-10-18'): '2015-09-02 00:00:00',
 ('001b000000p0n5d', '2017-10-18'): '2015-07-02 00:00:00',
 ('001b000003TOwxH', '2017-10-18'): '2016-12-09 00:00:00',
 ('001b000003TOuVp', '2017-10-18'): '2017-03-15 00:00:00',
 ('001b000003TOe7l', '2017-10-18'): '2016-12-01 00:00:00',
 ('001b000003TOd4T', '2017-10-18'): '2016-11-19 00:00:00',
 ('001b000003TOJZH', '2017-10-18'): '2016-12-31 00:00:00',
 ('001b000003TOJIP', '2017-10-18'): '2016-12-01 00:00:00',
 ('001b000003TOHpw', '2017-10-18'): '2016-12-09 00:00:00',
 ('001b000003ajbDp', '2017-10-18'): '2017-03-31 00:00:00',
 ('001b000003ajgc7', '2017-10-18'): '2017-02-15 00:00:00',
 ('001b000003Zutxq', '2017-10-18'): '2017-02-12 00:00:00',
 ('001b000003ZusLS', '2017-10-18'): '2017-06-30 00:00:00',
 ('001b000003Zua8z', '2017-10-18'): '2017-03-29 00:00:00',
 ('001b000003ZuXRg', '2017-10-18'): '2017-01-29 00:00:00',
 ('001b000003ZuWbk', '2017-10-18'): '2017-04-22 00:00:00',
 ('001b000003ZuU1c', '2017-10-18'): '2017-02-06 00:00:00',
 ('001b000003Zu2YC', '2017-10-18'): '2017-03-29 00:00:00',
 ('001b000003ajffn', '2017-10-18'): '2017-09-08 00:00:00',
 ('001b000003Zsh5P', '2017-10-18'): '2017-02-14 00:00:00',
 ('001b000003ZsgBC', '2017-10-18'): '2017-01-23 00:00:00',
 ('001b000002oYckD', '2017-10-18'): '2016-05-10 00:00:00',
 ('001b000002oYYdy', '2017-10-18'): '2016-03-31 00:00:00',
 ('001b000002oYYLK', '2017-10-18'): '2016-08-11 00:00:00',
 ('001b000002LQCqZ', '2017-10-18'): '2015-12-09 00:00:00',
 ('001b000002LQBlm', '2017-10-18'): '2015-12-17 00:00:00',
 ('001b000002LPokV', '2017-10-18'): '2016-03-04 00:00:00',
 ('001b000002LPgps', '2017-10-18'): '2016-03-02 00:00:00',
 ('001b000002LPg4r', '2017-10-18'): '2017-02-28 00:00:00',
 ('001b000002LPRAb', '2017-10-18'): '2016-03-01 00:00:00',
 ('001b000002LPHAP', '2017-10-18'): '2016-02-29 00:00:00',
 ('001b000002LPFjS', '2017-10-18'): '2016-03-01 00:00:00',
 ('001b000000o7Nit', '2017-10-18'): '2016-09-03 00:00:00',
 ('001b000000o0wkA', '2017-10-18'): '2016-06-02 00:00:00',
 ('001b000003TOGvK', '2017-10-18'): '2016-11-01 00:00:00',
 ('001b000003TOEMG', '2017-10-18'): '2016-11-30 00:00:00',
 ('001b000003TM1Sw', '2017-10-18'): '2016-10-26 00:00:00',
 ('001b000003QuP5v', '2017-10-18'): '2016-11-17 00:00:00',
 ('001b000003QuHYE', '2017-10-18'): '2016-11-07 00:00:00',
 ('001b000003Qu52p', '2017-10-18'): '2016-10-29 00:00:00',
 ('001b000003TML3M', '2017-10-18'): '2016-12-01 00:00:00',
 ('001b000003Qu4WE', '2017-10-18'): '2017-02-05 00:00:00',
 ('001b000003Qu39i', '2017-10-18'): '2016-12-07 00:00:00',
 ('001b000003Qu2yG', '2017-10-18'): '2016-10-31 00:00:00',
 ('001b000003Yrbs9', '2017-10-18'): '2017-03-13 00:00:00',
 ('001b000003Yr08S', '2017-10-18'): '2017-04-09 00:00:00',
 ('001b000003YqYj2', '2017-10-18'): '2017-03-07 00:00:00',
 ('001b000003YqPpu', '2017-10-18'): '2017-02-07 00:00:00',
 ('001b000003YPxJZ', '2017-10-18'): '2017-02-28 00:00:00',
 ('001b000003YNCtz', '2017-10-18'): '2017-02-28 00:00:00',
 ('001b000003War4d', '2017-10-18'): '2017-10-31 00:00:00',
 ('001b000002LON5R', '2017-10-18'): '2016-02-25 00:00:00',
 ('001b000002LNrhG', '2017-10-18'): '2016-02-25 00:00:00',
 ('001b0000026gu0y', '2017-10-18'): '2016-02-19 00:00:00',
 ('001b0000026gXNo', '2017-10-18'): '2015-11-18 00:00:00',
 ('001b000002LPDZD', '2017-10-18'): '2015-12-01 00:00:00',
 ('001b0000026gX7g', '2017-10-18'): '2015-11-19 00:00:00',
 ('001b0000026gHmj', '2017-10-18'): '2016-02-16 00:00:00',
 ('001b0000026g6py', '2017-10-18'): '2016-05-02 00:00:00',
 ('001b000001pnVuI', '2017-10-18'): '2016-07-14 00:00:00',
 ('001b000001EjnZ0', '2017-10-18'): '2015-10-28 00:00:00',
 ('001b000001EjK7y', '2017-10-18'): '2016-04-02 00:00:00',
 ('001b000001EjFz2', '2017-10-18'): '2015-09-15 00:00:00',
 ('001b000001EjFJ3', '2017-10-18'): '2015-12-17 00:00:00',
 ('001b000001Eitqj', '2017-10-18'): '2015-12-18 00:00:00',
 ('001b000001EikvX', '2017-10-18'): '2015-09-05 00:00:00',
 ('001b000001Eij2I', '2017-10-18'): '2015-11-30 00:00:00',
 ('001b000001Eii7M', '2017-10-18'): '2015-09-24 00:00:00',
 ('001b000001EiCdH', '2017-10-18'): '2015-09-14 00:00:00',
 ('001b000001EiCEb', '2017-10-18'): '2015-12-14 00:00:00',
 ('001b000003QtY8s', '2017-10-18'): '2016-10-25 00:00:00',
 ('001b000003QtXyT', '2017-10-18'): '2016-11-02 00:00:00',
 ('001b000003Qt5AD', '2017-10-18'): '2016-10-20 00:00:00',
 ('001b000003Qt4uK', '2017-10-18'): '2016-10-18 00:00:00',
 ('001b000003QrSI0', '2017-10-18'): '2016-09-27 00:00:00',
 ('001b000003QqpSe', '2017-10-18'): '2016-10-31 00:00:00',
 ('001b000003ZsQFZ', '2017-10-18'): '2017-03-23 00:00:00',
 ('001b000003WaPRk', '2017-10-18'): '2017-01-27 00:00:00',
 ('001b000003Zs4qB', '2017-10-18'): '2017-03-29 00:00:00',
 ('001b000003Zr5B6', '2017-10-18'): '2017-02-15 00:00:00',
 ('001b000003Yu0Bo', '2017-10-18'): '2017-03-15 00:00:00',
 ('001b000003WZuhX', '2017-10-18'): '2017-03-09 00:00:00',
 ('001b000001pnGc5', '2017-10-18'): '2016-02-01 00:00:00',
 ('001b000001pnFpg', '2017-10-18'): '2016-05-15 00:00:00',
 ('001b000001pn8gX', '2017-10-18'): '2017-06-12 00:00:00',
 ('001b000001pmytA', '2017-10-18'): '2017-11-20 00:00:00',
 ('001b000001pmxuM', '2017-10-18'): '2015-10-31 00:00:00',
 ('001b000001pmqhB', '2017-10-18'): '2016-05-01 00:00:00',
 ('001b000001pmqVP', '2017-10-18'): '2016-12-27 00:00:00',
 ('001b0000019vNSP', '2017-10-18'): '2015-12-10 00:00:00',
 ('001b0000019v5xx', '2017-10-18'): '2015-11-27 00:00:00',
 ('001b0000019v3kz', '2017-10-18'): '2015-08-28 00:00:00',
 ('001b0000019uPE3', '2017-10-18'): '2015-11-30 00:00:00',
 ('001b0000019uNYO', '2017-10-18'): '2015-11-27 00:00:00',
 ('001b0000015nuhO', '2017-10-18'): '2015-11-30 00:00:00',
 ('001b000003OHIHj', '2017-10-18'): '2016-10-18 00:00:00',
 ('001b000003OH0jY', '2017-10-18'): '2016-09-24 00:00:00',
 ('001b000003OH08g', '2017-10-18'): '2016-09-27 00:00:00',
 ('001b000003OGRQX', '2017-10-18'): '2016-09-16 00:00:00',
 ('001b000003OGRLI', '2017-10-18'): '2016-11-16 00:00:00',
 ('001b000003OGR98', '2017-10-18'): '2016-07-06 00:00:00',
 ('001b000003ODilk', '2017-10-18'): '2016-07-31 00:00:00',
 ('001b000003ODiXU', '2017-10-18'): '2017-12-07 00:00:00',
 ('001b000003ODc40', '2017-10-18'): '2016-09-20 00:00:00',
 ('001b000003UuhFc', '2017-10-18'): '2016-10-30 00:00:00',
 ('001b000003UueBQ', '2017-10-18'): '2016-11-30 00:00:00',
 ('001b000003TQ1aE', '2017-10-18'): '2016-12-01 00:00:00',
 ('001b000003TPm7H', '2017-10-18'): '2016-11-06 00:00:00',
 ('001b000003TPRFV', '2017-10-18'): '2016-12-01 00:00:00',
 ('001b000003TPBhU', '2017-10-18'): '2016-12-02 00:00:00',
 ('001b000003TP7l9', '2017-10-18'): '2016-12-08 00:00:00',
 ('001b000003TP3mg', '2017-10-18'): '2017-03-01 00:00:00',
 ('001b000001pmUsw', '2017-10-18'): '2016-07-01 00:00:00',
 ('001b000001pmUnN', '2017-10-18'): '2016-03-16 00:00:00',
 ('001b000001pmVrW', '2017-10-18'): '2016-01-23 00:00:00',
 ('001b000001pm0dJ', '2017-10-18'): '2016-02-13 00:00:00',
 ('001b000001pmVjS', '2017-10-18'): '2016-02-11 00:00:00',
 ('001b000001YWRvp', '2017-10-18'): '2016-01-02 00:00:00',
 ('001b000001UmmSM', '2017-10-18'): '2015-10-21 00:00:00',
 ('001b000001YWAG9', '2017-10-18'): '2016-02-09 00:00:00',
 ('001b000003wDjfV', '2017-10-18'): '2017-11-08 00:00:00',
 ('001b000003uqJhb', '2017-10-18'): '2018-01-18 00:00:00',
 ('001b000003uCIsx', '2017-10-18'): '2017-11-30 00:00:00',
 ('001b000003tgOLb', '2017-10-18'): '2017-10-25 00:00:00',
 ('001b000003uAHaW', '2017-10-18'): '2017-07-14 00:00:00',
 ('001b000003xfj8m', '2017-10-18'): '2017-09-06 00:00:00',
 ('001b000003xbxLc', '2017-10-18'): '2017-12-14 00:00:00',
 ('001b000003xfFjr', '2017-10-18'): '2017-08-31 00:00:00',
 ('001b000003xeKAI', '2017-10-18'): '2017-12-11 00:00:00',
 ('001b000003wwrrT', '2017-10-18'): '2017-08-11 00:00:00',
 ('001b000003wxIzl', '2017-10-18'): '2017-09-18 00:00:00',
 ('001b000003wxIch', '2017-10-18'): '2017-11-24 00:00:00',
 ('001b000003wvsay', '2017-10-18'): '2017-11-15 00:00:00',
 ('001b000003wECi5', '2017-10-18'): '2017-11-17 00:00:00',
 ('001b000000XoteL', '2017-10-18'): '2015-09-02 00:00:00',
 ('001b000000XDMM0', '2017-10-18'): '2016-06-23 00:00:00',
 ('001b000000Vr1t8', '2017-10-18'): '2017-09-29 00:00:00',
 ('001b000000U1ra9', '2017-10-18'): '2016-05-01 00:00:00',
 ('001b000000U1F3o', '2017-10-18'): '2016-08-12 00:00:00',
 ('001b000000S6ErE', '2017-10-18'): '2017-08-24 00:00:00',
 ('001b000000QWlGZ', '2017-10-18'): '2017-02-11 00:00:00',
 ('001b000000PI3ba', '2017-10-18'): '2016-04-02 00:00:00',
 ('001b000000c5VoN', '2017-10-18'): '2017-03-19 00:00:00',
 ('001b000000bYVgp', '2017-10-18'): '2015-07-27 00:00:00',
 ('001b000000bQPWF', '2017-10-18'): '2016-05-02 00:00:00',
 ('001b000000bPoV1', '2017-10-18'): '2016-02-19 00:00:00',
 ('001b000000a88xI', '2017-10-18'): '2015-12-29 00:00:00',
 ('001b000000a7QJc', '2017-10-18'): '2016-09-21 00:00:00',
 ('001b000000a7BUf', '2017-10-18'): '2015-12-02 00:00:00',
 ('001b000000Yze26', '2017-10-18'): '2017-04-12 00:00:00',
 ('001b000000l7bqi', '2017-10-25'): '2016-04-02',
 ('001b000003oHav2', '2017-10-25'): '2016-04-02',
 ('001b000003jzAxJ', '2017-10-25'): '2016-04-02',
 ('001b000003jzAIz', '2017-10-25'): '2016-04-02',

In [ ]:
new_trgt_pre.

In [101]:
x['obs'] = x.index.map(dict(zip(t.index, t.poc_end_date)))

In [105]:
t.reindex(x)[['poc_end_date']]

                          poc_end_date
pai_account_id date
2018-01-30     2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
2018-04-16     2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
2018-04-26     2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
...                                ...
2017-09-06     2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN
               2016-04-02          NaN

[51647 rows x 1 columns]

In [193]:
x = pd.read_csv('poc_end_date.csv', index_col=0)

In [96]:
x = x.set_index(['pai_account_id', 'date'])

In [85]:
x.set_index(['pai_account_id', 'date'])

                           poc_end_date_old
pai_account_id  date
0010J00001oc4O9 2017-11-01       2018-01-30
                2017-11-04       2018-01-30
                2017-11-05       2018-01-30
                2017-11-07       2018-04-16
                2017-11-08       2018-04-16
                2017-11-09       2018-04-16
                2017-11-10       2018-04-26
                2017-11-13       2018-04-26
                2017-11-15       2018-04-26
                2017-11-16       2018-04-26
                2017-11-17       2018-04-26
                2017-11-18       2018-04-26
                2017-11-19       2018-04-26
                2017-11-20       2018-04-26
                2017-11-23       2018-04-26
                2017-11-24       2018-04-26
                2017-11-25       2018-04-26
                2017-11-26       2018-04-26
                2017-11-27       2018-04-26
                2017-11-28       2018-04-26
                2017-11-29       2018-04-26
                2017-11-30       2018-04-26
                2017-12-01       2018-04-26
                2017-12-02       2018-04-26
                2017-12-03       2018-04-26
                2017-12-04       2018-04-26
                2017-12-06       2018-04-26
                2017-12-07       2018-04-26
                2017-12-09       2018-04-26
                2017-12-11       2018-04-26
...                                     ...
001b000003xfj8m 2017-12-18       2017-09-06
                2017-12-21       2017-09-06
                2017-12-22       2017-09-06
                2017-12-24       2017-09-06
                2017-12-25       2017-09-06
                2017-12-28       2017-09-06
                2017-12-29       2017-09-06
                2018-01-03       2017-09-06
                2018-01-05       2017-09-06
                2018-01-06       2017-09-06
                2018-01-08       2017-09-06
                2018-01-10       2017-09-06
                2018-01-11       2017-09-06
                2018-01-12       2017-09-06
                2018-01-13       2017-09-06
                2018-01-14       2017-09-06
                2018-01-15       2017-09-06
                2018-01-16       2017-09-06
                2018-01-17       2017-09-06
                2018-01-20       2017-09-06
                2018-01-24       2017-09-06
                2018-01-26       2017-09-06
                2018-01-27       2017-09-06
                2018-01-29       2017-09-06
                2018-01-31       2017-09-06
                2018-02-03       2017-09-06
                2018-02-04       2017-09-06
                2018-02-05       2017-09-06
                2018-02-07       2017-09-06
                2018-02-09       2017-09-06

[51647 rows x 1 columns]